body {
    margin: 0; 
    padding: 0;
}

#scores {
    display: flex;
    justify-content: space-evenly;
} 

#userScore {
    padding: 0px;
}

#cpuScore {
    padding: 0px;
}

#cardContainer{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;    
} 

#userCurrent {
    display: flex;
    float: left;
    justify-content: space-evenly;
    width: 300px;
    overflow: hidden;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    padding-left: 120px;
}

#cpuCurrent {
    display: flex;
    float: right;
    justify-content: space-evenly;
    width: 300px;
    overflow: hidden;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    padding-right: 120px;
}

button {
    width: 85px; 
    height: 50px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0px;
    overflow: hidden;
}

h2 {
    height: 30px;
}

#resetButton{
    display: none;
} 

#cpuCardPic { 
    height: 200px; 
} 

#userCardPic { 
    height: 200px;  
} 

#button-container { 
    position: absolute;
    bottom: 0;
} 

#statButtons {
    padding-left: 120px;
    padding-bottom: 200px;
}