body {
    margin: 0; 
    padding: 0;
}

#messageDisplay {
    text-align: center;
}

#scores {
    display: flex;
    justify-content: space-evenly;
} 

#user-Score {
    padding: 0px;
}

#cpu-Score {
    padding: 0px;
}

#user-Current {
    display: flex;
    float: left;
    justify-content: space-evenly;
    width: 300px;
    overflow: hidden;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    padding-left: 120px;
}

#cpu-Current {
    display: flex;
    float: right;
    justify-content: space-evenly;
    width: 300px;
    overflow: hidden;
    flex-direction: column;
    padding: 15px;
    margin: 0;
    padding-right: 120px;
}

button {
    width: 85px; 
    height: 50px;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0px;
    overflow: hidden;
}

h2 {
    height: 30px;
    margin: auto;
}

#resetButton{
    display: none;
} 

#cpu-Card { 
    clip-path: polygon(26% 96%, 73% 96%, 76% 86%, 85% 79%, 85% 67%, 85% 53%, 71% 51%, 75% 35%, 73% 24%, 66% 14%, 57% 8%, 42% 8%, 32% 13%, 25% 20%, 21% 32%, 24% 44%, 29% 53%, 11% 54%, 11% 65%, 11% 73%, 11% 83%, 24% 86%);
    height: 345px;
} 

#user-Card { 
    clip-path: polygon(26% 96%, 73% 96%, 76% 86%, 85% 79%, 85% 67%, 85% 53%, 71% 51%, 75% 35%, 73% 24%, 66% 14%, 57% 8%, 42% 8%, 32% 13%, 25% 20%, 21% 32%, 24% 44%, 29% 53%, 11% 54%, 11% 65%, 11% 73%, 11% 83%, 24% 86%);
    height: 345px;
} 

#button-container { 
    position: absolute;
    bottom: 0;
} 

#statButtons {
     padding-left: 400px;
    height: 453px;
}

#header {
    padding-left: 50px
}
